.mui-slider-indicator {
  bottom: 25px;
}
.product {
  width: 100%;
  padding: 10px;
}
.product .productBox {
  width: 100%;
}
.product .productBox > li {
  width: 33.33%;
  float: left;
}
.product .productBox > li > a {
  width: 100%;
  display: block;
}
.product .productBox > li > a > img {
  width: 100%;
  display: block;
}
.brand {
  width: 100%;
  padding: 10px;
}
.brand > a {
  width: 100%;
  display: block;
}
.brand > a > img {
  width: 100%;
  display: block;
}
.brand > ul {
  width: 100%;
  padding-top: 10px;
}
.brand > ul > li {
  width: 25%;
  float: left;
}
.brand > ul > li > a {
  width: 100%;
  display: block;
}
.brand > ul > li > a > img {
  width: 100%;
  display: block;
}
.sport {
  width: 100%;
  padding: 10px;
}
.sport > a {
  width: 100%;
  display: block;
}
.sport > a > img {
  width: 100%;
  display: block;
}
.sport > ul {
  width: 100%;
  padding-top: 10px;
}
.sport > ul > li {
  width: 49%;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  padding-bottom: 10px;
}
.sport > ul > li a:first-of-type {
  width: 100%;
  display: block;
}
.sport > ul > li a:first-of-type > img {
  width: 100%;
  display: block;
}
.sport > ul > li > h4 {
  color: #8f8f94;
  font-size: 14px;
}
.sport > ul > li > p {
  font-size: 13px;
  color: #f30;
  padding-bottom: 10px;
}
.sport > ul > li > p > span {
  font-size: 12px;
  padding-left: 5px;
  color: #ccc;
  text-decoration: line-through;
}
.sport > ul > li a:last-of-type {
  font-size: 12px;
  padding: 5px 15px;
  color: #fff;
  background-color: #006699;
}
.sport > ul > li:nth-of-type(odd) {
  margin-right: 5px;
  float: left;
}
.sport > ul > li:nth-of-type(even) {
  float: right;
}
